## #####
## 
## @param model (com.imcfr.generateur.model.persistancemodel.PrstmModel)
## @param element (com.imcfr.generateur.model.persistancemodel.PrstmObject)
## @param field (com.imcfr.generateur.model.persistancemodel.OneToMany)
## 
## #####
##
		<oneToMany name="${field.name}">
#**##**##if	(${field.mapped})
			<mappedPrstmField name="${field.mappedPrstmField.prstmFieldName}"/>	
#**##**##else
			<refDatamObject name="${field.refDatamObject}"/>
			<references>
#**##**##**##foreach ($reference in ${field.references})
				<reference datamField="${reference.datamFieldName}" refDatamField="${reference.refDatamFieldName}"/>
#**##**##**##end
			</references>
			<inverseReferences>
#**##**##**##foreach ($reference in ${field.inverseReferences})
				<inverseReference datamField="${reference.datamFieldName}" refDatamField="${reference.refDatamFieldName}"/>
#**##**##**##end
			</inverseReferences>
#**##**##end
#**##**##**##generate("ModelGeneration:PrstmFieldRules")
		</oneToMany>
