## #####
## 
## @param generatedObject (com.imcfr.generateur.model.objectmodel.ObmModel)
## 
## #####
## les "
#set($model = $generatedObject)
#set($Q = '"')
##
eclipse.preferences.version=1
#if (${list.contains($imcdev_Nature, "java")})
encoding//src/main/java=UTF-8
encoding//src/main/resources=UTF-8
encoding//src/test/files=UTF-8
encoding//src/test/java=UTF-8
encoding//src/test/resources=UTF-8
#end
encoding/<project>=UTF-8